@import 'tailwindcss';

:root {
    --background: #ededed;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-zain-sans-serif);
    --font-mono: var(--font-geist-mono);
}

@theme {
    --global-value-inherit: inherit;
    --global-value-initial: initial;
    --global-value-revert: revert;
    --global-value-revert-layer: revert-layer;
    --global-value-unset: unset;

    --text-box-edge-text-text: text text;
    --text-box-edge-text-alphabetic: text alphabetic;
    --text-box-edge-cap-alphabetic: cap alphabetic;
    --text-box-edge-ex-text: ex text;

    --animate-shine: shine 5s linear infinite;
    @keyframes shine {
        0% {
            background-position: 100%;
        }
        100% {
            background-position: -100%;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-zain-sans-serif), Arial, Helvetica, sans-serif;
}

@utility text-box-trim-* {
    text-box-trim: --value(
        'none',
        'trim-both',
        'trim-start',
        'trim-end',
        --global-value- *
    );
}

@utility text-box-edge-* {
    text-box-edge: --value(
        'auto',
        'text',
        --text-box-edge- *,
        --global-value- *
    );
}
